// FONTS
// font-family: 'Inconsolata', monospace;

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Pirata+One|Rubik:900');


/** VARIABLES  **/

$primary-font: 'Inconsolata', monospace;
$secondary-font: 'Pirata One', cursive;

$primary-color: orangered;
$secondary-color: rgb(34, 33, 33);
$date-color: #fac356;
$comment-color: #141E30;
$gray-color: #9f9f9f;
$light-color: #FEFEFE;

/** GENERAL SETTINGS **/
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: $secondary-font;
    color: $gray-color;
    background-color: $light-color;
}

.container  {
    max-width: 114rem;
    margin: 0 auto;
    width: 100%;
}